= form_for @project, :html => {:multipart => true} do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :date
    = f.text_field :date
  .field
    = f.label :synopsis
    = f.text_field :synopsis
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :thumbnail
    = f.file_field :thumbnail
  .actions
    = f.submit 'Save'
