- @projects.each do |project|
  .proj_div
    = project.title
    = project.id
    - unless project.images.empty?
      - image_url = project.images.first.photo.url(:small)
      = link_to (image_tag(image_url)), project
    - if admin?
      .clearboth
      = link_to 'Show', project
      = link_to 'Edit', edit_project_path(project)
      = link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete
    
.clearboth
= link_to 'New Project', new_project_path