%p#notice= notice

.project_div
  .project_images
  .project_info
    .pr_thumb
    .pr_title
      = @project.title
      .clearboth
      .pr_date=@project.date
    .clearboth
    .pr_description= @project.description
  .clearboth
  .project_nav
    = render :partial => "navigation"

.clearboth
- if admin?
  = link_to 'Edit', edit_project_path(@project)
  \|
  = link_to 'Back', projects_path
  .clearboth
  = render :partial => "images/image", :collection => @project.images
  .clearboth
  = render "images/form"
