%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Date:
  = @project.date
%p
  %b Synopsis:
  = @project.synopsis
%p
  %b Description:
  = @project.description
  
= link_to 'Add a picture', new_photo_path

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
