%p#notice= notice

.project_div
  .project_images
    - @project.images.each do |image|
      .image_div
        = image_tag image.photo.url, :class => "proj_image"
        - if image.caption?
          .caption_div
            .image_caption= image.caption
  .project_info
    .pr_description
      .pr_thumb
        = image_tag @project.thumbnail.url(:thumb)
      .title_div
        .pr_title
          = @project.title
        = link_to ( image_tag("/images/back.png", :class => "nav_arrow")), prev_project_path
        = link_to ( image_tag("/images/up.png", :class => "nav_arrow")), projects_path
        = link_to ( image_tag("/images/next.png", :class => "nav_arrow")), next_project_path
        .clearboth
        .pr_date=@project.date
      .clearboth
      = @project.description
      %p=@project.synopsis
    / .clearboth
    / = render :partial => "navigation"

.clearboth
- if admin?
  = link_to 'Edit', edit_project_path(@project)
  \|
  = link_to 'Back', projects_path
  .clearboth
  = render :partial => "images/image", :collection => @project.images
  .clearboth
  = render "images/form"
