%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Date:
  = @project.date
%p
  %b Synopsis:
  = @project.synopsis
%p
  %b Description:
  = @project.description
%h1 Images:
= render :partial => "images/image", :collection => @project.images

%h1 Add an Image:
= render "images/form"
  

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
