<!DOCTYPE html>
%html
%head
  %title Portfolio
  = stylesheet_link_tag "scaffold", "app"
  = javascript_include_tag :defaults
  = csrf_meta_tag
  
%body
  .background

    = link_to "christina landry", root_path, { :class => "header_links" }
    = link_to "portfolio", projects_path, { :class => "header_links" }
    = link_to "my blog", posts_path, { :class => "header_links" }

    .clearboth


    = yield
