<!DOCTYPE html>
%html
%head
  %title Portfolio
  = stylesheet_link_tag "scaffold", "app"
  = javascript_include_tag :defaults
  = csrf_meta_tag
  
%body
  .background

    %b= link_to "christina landry", root_path, { :class => "header_links first" }
    = link_to "Resume", resume_path, { :class => "header_links" }
    = link_to "Contact", "mailto:cmlandry7@gmail.com", { :class => "header_links" }

    .clearboth


    = yield
