<!DOCTYPE html>
%html
%head
  %title Portfolio
  = stylesheet_link_tag "scaffold", "app"
  = javascript_include_tag :defaults
  = csrf_meta_tag
  
%body
  .background

    = link_to "Christina Landry", root_path, { :class => "header_links" }
    = link_to "Portfolio", projects_path, { :class => "header_links" }
    = link_to "My Blog", posts_path, { :class => "header_links" }

    .clearboth


    = yield
